
.header {
  line-height: 44px;
  background: #ff8001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
.header span {
  font-size: 16px;
  color: #fff;
}
.yjt {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 2px;
  color: #fff;
}





