
.header {
  line-height: 0.44rem;
  background: #ff8001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
.header span {
  font-size: 0.16rem;
  color: #fff;
}
.yjt {
  font-size: 0.18rem;
  padding-left: 0.1rem;
  padding-right: 0.02rem;
  color: #fff;
}





